<h2>JAMES SCOTT</h2>
<h3>I AM 24 YEARS OLD AND LIVE IN DUNFERMLINE, FIFE, UK, EU (NOT TO BE CONFUSED WITH THE EU). IF YOU WOULD LIKE TO SEE WHAT YOUR SNAKE CASE TEXT WOULD LOOK LIKE IN CAMEL CASE BUT ARE UNABLE TO IMAGINE IT WITH YOUR BRAIN, PLEASE MAKE USE OF THE CAMELCATOR [CAMELCATOR CURRENTLY UNDER CONSTRUCTION]</h3>