<!DOCTYPE html>
<html>
<head>
  <title>my first website</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>THE CAMELCATOR</h1>
  <a href="/">HOME</a>
  <%= yield %>
</body>
</html>